* {
    margin: 0;
    padding: 0;
}

body {
    width: 100%;
    height: 100%;
    background-image: url(images/bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-size: cover;
    background-origin: content-box;
    box-sizing: border-box;
}

header {
    position: relative;
    height: 80vh;
    right: -1.2px;
    width: 100%;
    left: 1px;
    display: flex;
    align-items: center;
    justify-content: space-around;
    font-size: 1.3em;
    font-family: "Courier New", Courier, monospace;
}

header img {
    position: relative;
    border-radius: 50%;
    box-shadow: 2px 2px 12px rgb(118, 70, 70);
}

header h1,
span,
p {
    margin-left: 12px;
    position: relative;
    border-radius: 50%;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    header {
        position: relative;
        text-align: center;
        right: -1.3vw;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        font-size: 1em;
        font-family: "Courier New", Courier, monospace;
    }
    header img {
        position: relative;
        left: 8px;
        /* object-fit: cover; */
        border-radius: 50%;
    }
}

#toggleButton {
    display: none;
}


/* Style adjustments for small screens */

@media screen and (min-width: 100px) and (max-width: 600px) {
    #toggleButton {
        display: block;
        transition: all 0.4s;
        transform: scale(2);
        padding: 12px;
        color: wheat;
        border-radius: 20px;
        background-color: rgb(72, 70, 70);
        position: absolute;
        z-index: 1000;
    }
    #navList {
        display: none;
        position: absolute;
        top: 2px;
        background-color: rgb(191, 72, 72);
        width: 100%;
        box-shadow: 0px 4px 8px rgba(130, 87, 87, 0.1);
        padding: 10px;
        text-align: center;
        z-index: 1;
    }
    #navList.show {
        display: block;
    }
}

nav ul {
    display: flex;
    justify-content: center;
    border-radius: 20px;
    list-style: none;
}

nav ul li {
    box-shadow: inset 4px 23px 20px white;
    background-color: rgb(187, 83, 83);
    margin: 1vmax 1vmin;
    opacity: 0.5;
    padding: 1vmax 1vmin;
    border-radius: 13px;
}

nav li:hover {
    opacity: 3;
    background-color: black;
    color: white;
}

.welcome {
    border: 0px solid black;
    box-shadow: inset 2px 22px 22px brown;
    width: 100%;
}

@media screen and (min-width: 100px) and (max-width: 600px) {
    .welcome {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
    }
}

.welcome h2 {
    text-align: center;
}

.cards {
    display: inline-block;
    width: 12rem;
    margin: 50%;
    height: 12rem;
    margin: 12px 20px;
    padding: 12px 2px;
}

.card-body {
    display: flex;
    flex-direction: column;
    width: inherit;
    height: inherit;
    box-shadow: 2px 2px 12px gray;
}

.card-body:hover {
    animation: 1s;
    transform: translateY(-10px);
    transition: all ease 0.5s;
}

.card-description {
    margin: 1rem 0.3rem;
    font-size: 1em;
    font-weight: 12;
}

.card-para {
    margin: 1rem 0.3rem;
    font-size: 1em;
    font-weight: 12;
}

.skills {
    border: 0px solid black;
    box-shadow: inset 2px 22px 22px brown;
    height: 120vh;
}

.skills h2 {
    text-align: center;
}

.img {
    display: flex;
    justify-content: center;
    align-items: center;
}

.img img {
    width: auto;
    height: 12vh;
    padding: 22px;
    box-shadow: 2px 12px 12px rgb(141, 80, 80);
}

img:hover {
    /* filter: blur(1100%); */
    transform: scale(0.9);
    transition: all ease-out 0.4s;
}

.img1 {
    margin-top: 0px;
    border-radius: 50%;
}

.img2 {
    border-radius: 50%;
    margin-top: 20vh;
}

.img3 {
    border-radius: 50%;
    margin-top: 40vh;
}

.img4 {
    margin-top: 0vh;
    border-radius: 50%;
}

.img5 {
    margin-bottom: 20vh;
    border-radius: 50%;
}

.img6 {
    border-radius: 50%;
    margin-bottom: 40vh;
}

footer {
    margin-top: 100%;
    width: 100%;
    height: 20vh;
    background-color: brown;
    box-shadow: 2px 2px 12px brown;
}